/* 
======================================================
00. Global variables & Utility classes
01. App container
  02. Navbar section
  03. Home section
  04. BlogList component
  05. BlogCreate, BlogUpdate & BlogDetails components
  06. Loading screen
====================================================== 
*/

/* 00. Global variables & Utility classes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

/* This will wrap home, update and create containers */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-weight: bold;
  margin-left: 1.5rem;
  margin: 2rem 0;
}

/* 01. App container */

.App {
  background-color: whitesmoke;
}

/* 02. Navbar section */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: #282c34;
}

.navbar-title {
  color: whitesmoke
}

.navbar-links {
  color: whitesmoke !important;
  margin-left: 2rem;
}

/* 03. Home section */

.home {
  width: 100%;
  height: 100%;
}

/* 04. App BlogList component */

.blog-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.blog-preview {
  border: 1px solid lightgray;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .5rem 2rem;
}

.blog-button-group {
  border-left: 1px solid lightgray;
}

.blog-title {
  margin-left: 1rem;
}

.blog-button {
  margin: 0 1rem;
  padding: 1rem;
}

/* 05. BlogCreate, BlogUpdate & BlogDetails components */

.blog-create,
.blog-update,
.blog-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  height: 90vh;
}

.blog-create input, .blog-create textarea,
.blog-update input, .blog-update textarea {
  display: block;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.blog-details article {
  padding: 2rem ;
  border: 1px solid gray;
  background: white;
}

.blog-details article > * {
  margin: 2rem 0;
}

/* 06. Loading screen */

.loading {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
